description = "superior"
==
<div class="flex-w flex-sb-m p-l-80 p-r-74 respon5">
	<div class="wrappic1 m-r-30 m-t-10 m-b-10">
		<a href="#"><img src="{{ 'assets/images/logo_blanco.png'|theme }}" alt="LOGO"></a>
	</div>

	<div class="flex-w m-t-10 m-b-10">
		<a href="{{ this.theme.red_facebook }}" class="size3 flex-c-m how-social trans-04 m-r-6">
			<i class="fa fa-facebook"></i>
		</a>

		<a href="{{ this.theme.red_instagram }}" class="size3 flex-c-m how-social trans-04 m-r-6">
			<i class="fa fa-instagram"></i>
		</a>

	</div>
</div>